<a href="https://colab.research.google.com/github/akhiln007/python-repo/blob/master/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Printing

You can include a comment in python by prefixing some text with a # character. All text following the # will then be ignored by the interpreter.

In [ ]:
print("Hello World!!") #To print text, enclose it between double quotation mark
print('Hello World!')  #You can enclose the text in single quotation as well
print(34)              #Print an integer
print(5+5)             #Print the result of an arithmetic operation
print("The answer is",10) #Print multiple expressions, separated by comma

Hello World!!
Hello World!
34
10
The answer is 10

# Variables

A variable can be assigned to a simple value or the outcome of a more complex expression. The = operator is used to assign a value to a variable.

In [ ]:
x=4       #assignment of a simple value
print(x)

y=x+5     #assignment of a more complex expression
print(y)

i=12
print(i)  
i=i+1     #assignment of a current value of a variable incremented by 1 to itself
print(i)
i+=1      #shorter version with the special += operator
print(i)

4
9
12
13
14

#Simple Data Types

Python has four main data types: integer, float, string and boolean

In [ ]:
a=2       # integer
b=5.7     # float
c='word'  # string
d=4>5     # boolean (True or False)
e=None    # special built-in value to create a variable that has not been set to anything specific

print(a,"is of type",type(a))   #to check the type of a variable
print(b,"is of type",type(b))
print(c,"is of type",type(c))
print(d,"is of type",type(d))
print(e,"is of type",type(e))

2 is of type <class 'int'>
5.7 is of type <class 'float'>
word is of type <class 'str'>
False is of type <class 'bool'>
None is of type <class 'NoneType'>

# Arithmetic Operations

Using Python as a calculator to do simple mathematical operations in integer and float numbers

In [ ]:
a=2     # assignment
a+=2    # adding 2 to variable a
a/=2    # dividing variable a by 2
3+2     # addition
3-2     # subtraction
3*2     # multiplication
3/2     # division

3//2    # integer division
3%2     # remainder
3**2    # exponent

9

# Functions

In [ ]:
def sum_of_square(stop_val):
  sum_=0
  for i in range(stop_val):
    sum_=sum_+i
  return sum_

In [ ]:
print(sum_of_square(5))

10

In [ ]:
def sum_of_square_new(start_val,stop_val):
  sum_=0
  for i in range(start_val,stop_val,1):
    sum_=sum_+i
  return sum_

In [ ]:
print(sum_of_square_new(1,4))

6

# Data structures

There are also different types of data structures in Python to store the main basic data types shown above:

Lists

Sets

Tuples

Dictionaries

# Lists

A list is an ordered collection of mutable elements e.g. the elements inside a list can be modified.

In [ ]:
a=['Red','Green','Blue']          # Manual initialisation
copy_of_a=a[:]                    # Copy of a
another_a=a                       # Same as a
a.append('Yellow')                # add new element to end of list
a.extend(b)                       # add elements from list 'b' to end of list 'a'
a.insert(1,'yellow')              # insert element in specified position
print('List a is:-', a)
print('Copy of initial list a is:-', copy_of_a)
print('Same as list a:-', another_a)
i=a.pop(2)                        # remove and return item at index (default last)
print('Remove an item using POP function for index 2:-', i)
print('\n')

b=list(range(5))                  # initialise from iteratable
print('The list b created using range(5):-', b)
print('\n')

c=[1,2,3,4,5,6]                   # manual initialisation
len(c)                            # Length of the list
d=c[0]                            # access first element at index 0
e=c[1:3]                          # access a slice of the list, including element at index 1 up to 
                                  # but not including element at index 3
f=c[-1]                           # access last element                                  
print('List c is', c)
print("The length of list c is", len(c))
print('The first element at index 0 for c is:-',d)
print('Access a slice of the list c[1:3] :-',e)
print('Access last element of list c:-',f)
c[1]=8                            # asign new value at index position 1
print('Assigning a new value at index 1 for list c:-',c)
c.sort()                          # sort list in place
print('The sorted list c',c)
print('\n')


g=['re','bl']+['gr']              # list concatenation
#['re','bl'].index['re']           # returns index of re
're' in ['re','bl']               # true if 're' in list
'fi' not in['re','bl']            # true if 'fi' not in list
print('The concatenated list:-',g)
print(" 're' in ['re','bl'] is:-",'re' in ['re','bl'])
print(" 'fi' not in['re','bl'] is:-",'fi' not in['re','bl'])
print('\n')

h=sorted([3,5,1,4])               # returns sorted list
print('Sorting a [3,5,1,4] list is:-',h)
print('\n')

List a is:- ['Red', 'yellow', 'Green', 'Blue', 'Yellow', 0, 1, 2, 3, 4]
Copy of initial list a is:- ['Red', 'Green', 'Blue']
Same as list a:- ['Red', 'yellow', 'Green', 'Blue', 'Yellow', 0, 1, 2, 3, 4]
Remove an item using POP function for index 2:- Green


The list b created using range(5):- [0, 1, 2, 3, 4]


List c is [1, 2, 3, 4, 5, 6]
The length of list c is 6
The first element at index 0 for c is:- 1
Access a slice of the list c[1:3] :- [2, 3]
Access last element of list c:- 6
Assigning a new value at index 1 for list c:- [1, 8, 3, 4, 5, 6]
The sorted list c [1, 3, 4, 5, 6, 8]


The concatenated list:- ['re', 'bl', 'gr']
 're' in ['re','bl'] is:- True
 'fi' not in['re','bl'] is:- True


Sorting a [3,5,1,4] list is:- [1, 3, 4, 5]

In [ ]:
my_phone_list=['iPhone','Samsung','Nokia']

In [ ]:
print(my_phone_list)

['iPhone', 'Samsung', 'Nokia']

In [ ]:
my_phone_list[2]

'Nokia'

In [ ]:
type(my_phone_list)

list

In [ ]:
my_phone_list[0:3]

['iPhone', 'Samsung', 'Nokia']

In [ ]:
dads_phone_list=my_phone_list
print(dads_phone_list)

['iPhone', 'Samsung', 'Nokia']

In [ ]:
my_phone_list[2]='New Nokia'
print(my_phone_list)

['iPhone', 'Samsung', 'New Nokia']

In [ ]:
print(dads_phone_list)

['iPhone', 'Samsung', 'New Nokia']

In [ ]:
dads_phone_list=list(my_phone_list)
print(my_phone_list)
print(dads_phone_list)

['iPhone', 'Samsung', 'New Nokia']
['iPhone', 'Samsung', 'New Nokia']

In [ ]:
my_phone_list[2]='Vivo'
print(my_phone_list)
print(dads_phone_list)

['iPhone', 'Samsung', 'Vivo']
['iPhone', 'Samsung', 'New Nokia']

In [ ]:
len(my_phone_list)

3

In [ ]:
my_phone_list.append('Google')
print(my_phone_list)

['iPhone', 'Samsung', 'Vivo', 'Google']

In [ ]:
my_phone_list=my_phone_list+dads_phone_list
print(my_phone_list)

['iPhone', 'Samsung', 'Vivo', 'Google', 'iPhone', 'Samsung', 'New Nokia']

In [ ]:
for data in my_phone_list:
  print(data)

iPhone
Samsung
Vivo
Google
iPhone
Samsung
New Nokia

In [ ]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [ ]:
a=list(range(5))
print(a)

[0, 1, 2, 3, 4]

In [ ]:
b=list(map(lambda x:x**2,a))

In [ ]:
print(b)

[0, 1, 4, 9, 16]

In [ ]:
map?

In [ ]:
lambda?

Object `lambda` not found.

In [ ]:
c=list(filter(lambda x: x%2 ==0,b))
print(c)

[0, 4, 16]

# Set

A set is an unordered collection of unique elements.

In [ ]:
a={1,2,3}             # initialise manually
print('The set a is:-',a)
a.add(13)             # add new element to set
print('Adding new element 13 using add() function:-',a)
a.remove(13)          # removing the new element to set
print('Removed the new element using remove() function:-',a)
print('\n')

b=set(range(5))       # initialise from iteratable
print("The set b created using range(5) function:-",b)
print('\n')

2 in{1,2,3}           # True if 2 in set
5 not in{1,2,3}       # True if 5 not in set
print('True if 2 in{1,2,3} :-',2 in{1,2,3})
print('True if 5 not in{1,2,3} :-',5 not in{1,2,3})
print('\n')

d=a.union(b)          # return the union of sets as a new set
print('Union of a and b using the union() function:-',d)
print('\n')

e=a.intersection(b)
print('Intersection of a and b using the intersection() function:-',e)
print('\n')

The set a is:- {1, 2, 3}
Adding new element 13 using add() function:- {1, 2, 3, 13}
Removed the new element using remove() function:- {1, 2, 3}


The set b created using range(5) function:- {0, 1, 2, 3, 4}


True if 2 in{1,2,3} :- True
True if 5 not in{1,2,3} :- True


Union of a and b using the union() function:- {0, 1, 2, 3, 4}


Intersection of a and b using the intersection() function:- {1, 2, 3}

In [ ]:
my_list=list(range(1000000))
tic=time.time()
print(98731 in my_list)
print(131591 in my_list)
print(111111111 in my_list)
toc=time.time()
print("Elasped time",toc-tic)

True
True
False
Elasped time 0.014398813247680664

In [ ]:
my_set=set(range(1000000))
tic=time.time()
print(98731 in my_set)
print(131591 in my_set)
print(111111111 in my_set)
toc=time.time()
print("Elasped time",toc-tic)

True
True
False
Elasped time 0.0002868175506591797

# Tuple

A tuple is an ordered collection of immutable elements e.g. tuples are similar to lists, but the elements inside a tuple cannot be modified. Most of the list operations shown above can be used on tuples as well, with the exception of the assignment of new value at a certain index position.

In [ ]:
a=(124,54,92)               # initialise manually
b=()                        # empty tuple
c=("Ala",)                  # tuple of a single string (note the trailing ",")
d=(2,3,False,"Arg",None)    # a tuple of mixed types

print(a)
print(b)
print(c)
print(d)

t=a,c,d                     # tuple packing
x,y,z=t                     # tuple unpacking

print(t)
print(x)
print(y)
print(z)

(124, 54, 92)
()
('Ala',)
(2, 3, False, 'Arg', None)
((124, 54, 92), ('Ala',), (2, 3, False, 'Arg', None))
(124, 54, 92)
('Ala',)
(2, 3, False, 'Arg', None)

In [ ]:
my_phone_tuple=('iPhone 9',False,4.6)
type(my_phone_tuple)

tuple

In [ ]:
print(my_phone_tuple)

('iPhone 9', False, 4.6)

In [ ]:
my_phone_tuple[0:2]

('iPhone 9', False)

In [ ]:
for data in my_phone_tuple:
  print(data)

iPhone 9
False
4.6

In [ ]:
import time
tic=time.time()
print(tic)

1592490353.0092127

In [ ]:
time.time?

In [ ]:
tic=time.time()
print(tic)
#do something that takes some time
toc=time.time()
print(toc)
print("Elasped time in seconds",toc-tic)

1592490594.7559073
1592490594.756197
Elasped time in seconds 0.00028967857360839844

In [ ]:
my_list=list(range(1000000))
tic=time.time()
my_list_squared=map(lambda i: i**2,my_list)
toc=time.time()
print("Elasped time in seconds",toc-tic)

Elasped time in seconds 7.867813110351562e-05

In [ ]:
my_tuple=tuple(range(1000000))
tic=time.time()
my_tuple_squared=map(lambda i: i**2,my_tuple)
toc=time.time()
print("Elasped time in seconds",toc-tic)

Elasped time in seconds 7.200241088867188e-05

# Dictionary

A dictionary is an unordered collection of key-value pairs were keys must be unique.

In [ ]:
a={'A':'Adenine','C':'Cytosine'}          # dictionary
b=a['A']                                  # translate item
c=a.get('N','no value found')             # return default value
'A' in a                                  # true if dictionary a contains key 'A'
a['G']='Guanine'                          # assign new key, value pair to dictionary a
a['T']='Thymine'                          # assign new key, value pair to dictionary a
print(a)
print(b)
print(c)
d=a.keys()                                # get list of keys
e=a.values()                              # get list of values
f=a.items()                               # get list of key value pairs
print(d)
print(e)
print(f)
del a['A']                                # delete key and associated value
print(a)

{'A': 'Adenine', 'C': 'Cytosine', 'G': 'Guanine', 'T': 'Thymine'}
Adenine
no value found
dict_keys(['A', 'C', 'G', 'T'])
dict_values(['Adenine', 'Cytosine', 'Guanine', 'Thymine'])
dict_items([('A', 'Adenine'), ('C', 'Cytosine'), ('G', 'Guanine'), ('T', 'Thymine')])
{'C': 'Cytosine', 'G': 'Guanine', 'T': 'Thymine'}

In [ ]:
my_phone_dict={}
type(my_phone_dict)

dict

In [ ]:
my_phone_dict['name']='iPhone10'
my_phone_dict['isAndroid']=False
my_phone_dict['screenSize']=5.7
print(my_phone_dict)

{'name': 'iPhone10', 'isAndroid': False, 'screenSize': 5.7}

In [ ]:
print(my_phone_dict['name'])

iPhone10

In [ ]:
print(my_phone_dict.keys())

dict_keys(['name', 'isAndroid', 'screenSize'])

In [ ]:
print(my_phone_dict.values())

dict_values(['iPhone10', False, 5.7])

In [ ]:
print(my_phone_dict.items())

dict_items([('name', 'iPhone10'), ('isAndroid', False), ('screenSize', 5.7)])

In [ ]:
for key in my_phone_dict.keys():
  print(key,':',my_phone_dict[key])

name : iPhone10
isAndroid : False
screenSize : 5.7

# Working with Strings

A string is an ordered collection of immutable characters or tuple of characters.

In [ ]:
a='red'                         # assignment
char=a[2]                       # access individual characters
b='red'+'blue'                  # string concatenation
c='1,2,three'.split(',')        # split string into list
d='.'.join(['1','2','three'])   # concatenate list into string
print(a)
print(char)
print(b)
print(c)
print(d)

dna='ATGTCACCGTTT'              # assignment
seq=list(dna)                   # convert string into list of character
e=len(dna)                      # return string length
f=dna[2:5]                      # slice string
g=dna.find('TTr')               # substring location, return -1 when not found
print(dna)
print(seq)
print(e)
print(f)
print(g)

text=' chrom start end'         # assignment
print('>',text,'<')            
print('>',text.strip(),'<')     # remove unwanted whitespace at both end of the string
print('{:.2f}'.format(0.4567))  # formatting string
print('{gene:s}\t{exp:+.2f}'.format(gene='Beta-Actin',exp=1.7))

red
d
redblue
['1', '2', 'three']
1.2.three
ATGTCACCGTTT
['A', 'T', 'G', 'T', 'C', 'A', 'C', 'C', 'G', 'T', 'T', 'T']
12
GTC
-1
>  chrom start end <
> chrom start end <
0.46
Beta-Actin	+1.70

# Conditions

A conditional `if` or `elif` statement is used to specify that some block of code should only be executed if a conditional expression is **True**. Often the final `else` statement works when all the conditions before are **False**. 

Python uses indentation to represent which statements are inside a block of code e.g. the line after the `if` statement is indented (tab).

In [ ]:
a,b=1,2
if a+b==3:
  print('Three')
elif a+b==1:
  print('One')
else:
  print('?')

Three

# Comparisons

In [ ]:
1 == 1                                          # equal
1 != 2                                          # not equal
2 > 1                                           # greater than
2 < 1                                           # less than

1 != 2 and 2 < 3                                # Logical AND
1 !=2 or 2 < 3                                  # Logical OR
not 1==2                                        # logical NOT

a=list('ATGTCACCGTTT')
b=a                                             # same as a
c=a[:]                                          # copy of a
'N' in a                                        # test if character 'N' is in a 

print('a',a)
print('b',b)
print('c',c)
print('Is N in a','N' in a)
print('Are objects b and a point to the same memory address?', b is a)
print('Are objects c and a point to the same memory address?', c is a)
print('Are values of b and a identical?',b==a)
print('Are values of c and a identical?',c==a)

a[0]='N'                                        # Modify a
print('a',a)
print('b',b)
print('c',c)
print('Is N in a','N' in a)
print('Are objects b and a point to the same memory address?', b is a)
print('Are objects c and a point to the same memory address?', c is a)
print('Are values of b and a identical?',b==a)
print('Are values of c and a identical?',c==a)

a ['A', 'T', 'G', 'T', 'C', 'A', 'C', 'C', 'G', 'T', 'T', 'T']
b ['A', 'T', 'G', 'T', 'C', 'A', 'C', 'C', 'G', 'T', 'T', 'T']
c ['A', 'T', 'G', 'T', 'C', 'A', 'C', 'C', 'G', 'T', 'T', 'T']
Is N in a False
Are objects b and a point to the same memory address? True
Are objects c and a point to the same memory address? False
Are values of b and a identical? True
Are values of c and a identical? True
a ['N', 'T', 'G', 'T', 'C', 'A', 'C', 'C', 'G', 'T', 'T', 'T']
b ['N', 'T', 'G', 'T', 'C', 'A', 'C', 'C', 'G', 'T', 'T', 'T']
c ['A', 'T', 'G', 'T', 'C', 'A', 'C', 'C', 'G', 'T', 'T', 'T']
Is N in a True
Are objects b and a point to the same memory address? True
Are objects c and a point to the same memory address? False
Are values of b and a identical? True
Are values of c and a identical? False

# Loops

There are two ways of creating loops in Python using for or while

In [ ]:
if(phoneOS_android==True):
  print("The phone OS is android")
  print("Printing a line")
print("Outside the if print block")

Outside the if print block

In [ ]:
for i in range(5):
  print(i,"\t",i**2)

0 	 0
1 	 1
2 	 4
3 	 9
4 	 16

In [ ]:
range?

In [ ]:
a=['red','green','blue']
for colour in a:
  print(colour)

red
green
blue

In [ ]:
i=0
while i<5:
  print(i,"\t",i**2)
  i+=1

0 	 0
1 	 1
2 	 4
3 	 9
4 	 16

In [ ]:
number=1
while number < 10:
  print(number)
  number += 1

Python has two ways of affecting the flow of a **for** or **while** loop:

The **break** statement immediately causes all looping to finish, and execution is resumed at the next statement after the loop. 

The **continue** statement means that the rest of the code in the block is skipped for this particular item in the collection.

In [ ]:
# break
sequence = ['CAG','TAC','CAA','TAG','TAC','CAG','CAA']
for codon in sequence:
    if codon == 'TAG':
        break            # Quit the looping at this point (the TAG stop codon)
    else:
        print(codon)

        
# continue
values = [10, -5, 3, -1, 7]
total = 0
for v in values:
    if v < 0:
        continue         # Don't quit the loop but skip the iterations where the integer is negative   
    total += v

print(values, 'sum:', sum(values), 'total:', total)

CAG
TAC
CAA
[10, -5, 3, -1, 7] sum: 14 total: 20

In [ ]:
def print_square(stop_val):
  for i in range(stop_val):
    print(i,"\t",i**2)

In [ ]:
print(print_square(4))

0 	 0
1 	 1
2 	 4
3 	 9
None

# Packages

In [ ]:
import math
a=math.sqrt(100)
print(a)

10.0

In [ ]:
a=math.pow(100,0.5)
print(a)

10.0

In [ ]:
x=100
y=1
for i in range(1,x):
  y*=i
print("Factorial of",x,'is ',y)

Factorial of 100 is  933262154439441526816992388562667004907159682643816214685929638952175999932299156089414639761565182862536979208272237582511852109168640000000000000000000000

In [ ]:
y=math.factorial(x)

In [ ]:
import math as m

In [ ]:
y=m.factorial(x)

In [ ]:
from math import factorial

In [ ]:
y=factorial(x)

In [ ]:
import time
vals=list(range(1,100))
tic=time.time()
for x in vals:
  y=1
  for i in range(1,x):
    y*=i
toc=time.time()
print('Elapsed time in secs with own function',toc-tic)

tic=time.time()
for x in vals:
  y=math.factorial(x)
toc=time.time()
print('Elapsed time in secs with own function',toc-tic)

Elapsed time in secs with own function 0.0006151199340820312
Elapsed time in secs with own function 0.00016832351684570312

In [ ]:
!echo 'def hello():' > my_first_module.py
!echo '    print("Hello, I am living in a different file")' >> my_first_module.py

In [ ]:
!cat my_first_module.py

def hello():
    print("Hello, I am living in a different file")

In [ ]:
import my_first_module

In [ ]:
my_first_module.hello()

Hello, I am living in a different file

In [ ]:
from my_first_module import hello

In [ ]:
hello()

Hello, I am living in a different file